<div class="container addAuthor">
    <h3>Know of a pet needing a home?</h3>
    <form class="border p-3 form-group w-50">
        <!-- <div class="validations" *ngIf="submitted">
            <span>Author name needed 3 char</span><br>
        </div> -->
        <label for="name">Pet name:</label>
        <input id="name" type="text" required minlength="3" #name='ngModel' name="newPet.name" [(ngModel)]="newPet.name" required class="form-control w-50">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
            Name must be at least 3 characters long.
            </div>
        </div>
        <div *ngIf="dupError && (name.touched)" class="alert alert-danger">
            Name is already in use. Pick another one!
        </div>
        <label for="name">Pet type:</label>
        <input id="petType" type="text" name="newPet.petType" required minlength="3" #petType='ngModel' [(ngModel)]="newPet.petType" class="form-control w-50">
        <div *ngIf="petType.invalid && (petType.dirty || petType.touched)"
            class="alert alert-danger">
            <div *ngIf="petType.errors.required">
                Pet type is required.
            </div>
            <div *ngIf="petType.errors.minlength">
                Name must be at least 3 characters long.
            </div>
        </div>
        <label for="name">Pet description:</label>
        <input  type="text" id="description" #description='ngModel' minlength="3" name="newPet.description" [(ngModel)]="newPet.description" required class="form-control w-50">
        <div *ngIf="description.invalid && (description.dirty || description.touched)"
            class="alert alert-danger">
            <div *ngIf="description.errors.required">
                Pet description is required.
            </div>
            <div *ngIf="description.errors.minlength">
                Name must be at least 3 characters long.
            </div>
        </div>
        <label class="pt-3" for="name">Skills</label><br>
        <div class="pl-5 skillList">
            <label for="name">Skill 1:</label>
            <input  type="text" name="newPet.skillOne" [(ngModel)]="newPet.skillOne" required class="form-control w-50">
            <label for="name">Skill 2:</label>
            <input  type="text" name="newPet.skillTwo" [(ngModel)]="newPet.skillTwo" required class="form-control w-50">
            <label for="name">Skill 3:</label>
            <input  type="text" name="newPet.skillThree" [(ngModel)]="newPet.skillThree" required class="form-control w-50">
        </div>
        <button [routerLink]="['']" class="m-2 btn btn-warning">Cancel</button> <button (click)="createPet(newPet)" class="btn btn-warning">Add pet</button>
    </form>
</div>
